.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h2 {
  margin-bottom: 32px;
  text-transform: uppercase;
}
.App-header p {
  color: #697ea8;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 48px;
  margin: 32px 0;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

hr {
  border: 1px solid #394357;
  width: 100%;
  max-width: 600px;
  margin-bottom: 32px;
}

input {
  border: 1px solid #394357;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  max-width: 200px;
  font-weight: bold;
  font-size: 16px;
}

button {
  background-color: #667daa;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  width: 100%;
  max-width: 250px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}

button:hover {
  filter: brightness(120%);
}

/* .spinner {
  scale: 0.5;
} */

@keyframes ldio-gewc0rtyze5 {
   0% { transform: translate(6px,40px) scale(0); }
  25% { transform: translate(6px,40px) scale(0); }
  50% { transform: translate(6px,40px) scale(1); }
  75% { transform: translate(40px,40px) scale(1); }
 100% { transform: translate(74px,40px) scale(1); }
}
@keyframes ldio-gewc0rtyze5-r {
   0% { transform: translate(74px,40px) scale(1); }
 100% { transform: translate(74px,40px) scale(0); }
}
@keyframes ldio-gewc0rtyze5-c {
   0% { background: #182731 }
  25% { background: #a7d4ec }
  50% { background: #182731 }
  75% { background: #a7d4ec }
 100% { background: #182731 }
}
.ldio-gewc0rtyze5 div {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(40px,40px) scale(1);
  background: #182731;
  animation: ldio-gewc0rtyze5 1s infinite cubic-bezier(0,0.5,0.5,1);
}
.ldio-gewc0rtyze5 div:nth-child(1) {
  background: #a7d4ec;
  transform: translate(74px,40px) scale(1);
  animation: ldio-gewc0rtyze5-r 0.25s infinite cubic-bezier(0,0.5,0.5,1), ldio-gewc0rtyze5-c 1s infinite step-start;
}.ldio-gewc0rtyze5 div:nth-child(2) {
  animation-delay: -0.25s;
  background: #182731;
}.ldio-gewc0rtyze5 div:nth-child(3) {
  animation-delay: -0.5s;
  background: #a7d4ec;
}.ldio-gewc0rtyze5 div:nth-child(4) {
  animation-delay: -0.75s;
  background: #182731;
}.ldio-gewc0rtyze5 div:nth-child(5) {
  animation-delay: -1s;
  background: #a7d4ec;
}
.loadingio-spinner-ellipsis-h1zcujw7rd5 {
  width: 64px;
  height: 64px;
  display: inline-block;
  overflow: hidden;
  background: rgba(241, 242, 243, 0);
}
.ldio-gewc0rtyze5 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.64);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-gewc0rtyze5 div { box-sizing: content-box; }
/* generated by https://loading.io/ */